body {
	padding: 0;
	margin: 0;
	background: #f2f6e9;
}

/*--- navigation bar ---*/

.navbar {
	background: #222; /*#006400; dark green*/
}

.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
}

.navbar-brand:hover {
	color: #888;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: #888;
}

.navbar-collapse {
	justify-content: flex-end;
}

/*--- header ---*/

.header {
	background-image: url('images/boatlakenorway.JPG');
	background-size: cover;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.hero-image {
	background: url(images/boatlakenorway.JPG) no-repeat center; 
	background-size: cover;
	height: 500px;
	position: relative;
  }
  
  .hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
  }

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.description h1 {
	color: #6ab446;
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
	border: 1px solid #6ab446;
	background: #6ab446;
	border-radius: 0;
	color: #fff;
}

.description button:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #000;
}

/*--- feature section ---*/

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
	max-width: 500px;
	width: 100%;
	height: 70%;
}

/*--- content for other pages ---*/

.content {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.content-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.content-subtitle {
	color: #333;
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.content img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
	max-width: 500px;
	width: 100%;
}

.content-link {
	color: #333;
	cursor: pointer;
	margin-right: 1em !important;
}

.content-link:hover {
	color: #888;
}

/*--- footer ---*/

.page-footer {
	background-color: #222;
	color: #ccc;
	padding: 20px 0 10px;
}

.footer-copyright {
	color: #666;
	padding: 10px 0;
}

/*--- media queries ---*/

@media (max-width: 575.98px) {

	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}
	
	.description h1 {
		font-size: 2em;
	}
	
	.description p {
		font-size: 1.2rem;
	}
	
	.features {
		margin: 0;
	}

}
